h1, p {
  font-family: Lato;
}

.grid-container{
  max-height: 300px;
  overflow: auto;
}

.printable{
  display: none;
}

@media print{
  .modal-backdrop, .modal, .modal *, .main {display:none;}
  .printable, .printable > * {
    display: block !important;
  }
  .grid-container{
    width: 100%;
    overflow: visible;
    height: inherit;
  }
}