h1, p {
  font-family: Lato;
}

.grid-container{
  max-height: 300px;
  overflow: auto;
}

#print{
  display: none;
}

@media print{
  body *{
    display: none;
  }
  #print{
    display: block !important;
    position: absolute;
    top: 0;
    left: 0;
  }
  /* .modal-body{ 
    display: block !important;
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    height: auto;
  }*/
  .grid-container{
    width: 100%;
    overflow: visible;
    height: inherit;
  } 
}